<a href="/">
  <i class="fa-fa-home"></i>
</a>

<h1>{{ message }}</h1>

  {{!-- {{#each filmData}}
    <h4 class="small-4">{{ movies_title }}</h4>
    <img src="images/{{ movies_cover }}" alt="Movie Trailer Cover">
    <a href="/film/{{movies_id}}" class="button">View Details</a>
  {{/each}} --}}

  {{!-- Vue.js thumbnails --}}
<section class="genre-lists" v-for="genre in genres">
    <div v-if="genre.movies.length > 0">
      <div class="genre-item">
        <h6 class="genre-name">${ genre.name }</h6>
        <div class="movie-list" v-for="movie in genre.movies">
          <a :href="'/movies/' + movie.movies_id + '/' + movie.movies_trailer">
            <img class="movie-thumb" :src="'images/' + movie.movies_cover" :alt="movie.movies_title">
          </a>
        </div>
      </div>
    </div>
  </section>