body {
  padding: 50px;
  margin: 50px 0 50px 0;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 100px;
}

ul {
  padding: 0;
  list-style: none;
}

ul i.fa {
  margin-right: 5px;
}
